.empty-posts-array-message {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}

.post {
  display: flex;
  flex-direction: column;
  width: 99%;
  border-bottom: 1px solid gainsboro;
  margin-bottom: 1%;
  background-color: white;
  border: 1px solid white;
}

.post-creator-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 2rem;
}

.post-creator-data h4 {
  padding-left: 1.5%;
}

.deleteButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-right: 1%;
}

.deleteButton img {
  height: 1.2rem;
}

.deleteButton:hover {
  filter: invert(1);
  border-radius: 50%;
}

.deleteButton:active {
  filter: invert(0);
}

.horizontal-divider-line {
  border-bottom: 2px solid gainsboro;
  width: 100%;
  align-self: center;
}

.post-content-data {
  width: 90%;
  margin-bottom: 3%;
}

.post-content-data p {
  padding-left: 2%;
}

.post-interactions-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.interaction-totals {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0% 2% 1%;
}

.totals-likes {
  width: 50%;
}

.totals-comments {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.interaction-buttons {
  display: flex;
  border-top: 2px solid gainsboro;
}

.vertical-divider-line {
  border-right: 2px solid gainsboro;
}

.interaction-buttons button {
  width: 50%;
  height: 2vh;
  border: none;
}

.interaction-buttons button:hover {
  background-color: gainsboro;
}
